.border {
	border: 1px solid black;
}
.radius {
	border-radius: 15px;
}

.margin-top {
	margin-top: 1.5em;
}

.margin-bot {
	margin-bottom: 1.5em;
}
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}